:root {
  --max-width: 55%;
}

.profile-cont {
  width: var(--max-width);
  margin: 0px auto;
  position: relative;
  top: 0px;
  height: 100vh;
  overflow-y: scroll;
  /* overflow-x: hidden; */
  /* display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column; */
}

.profile-cont::-webkit-scrollbar {
  display: none;
}

.profile-cont .icon {
  width: 20px;
}

.profile-cont .user-info-head {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.profile-cont .user-info-head img {
  width: 5vmax;
}
.profile-cont .user-info-head .user-icon {
  width: 80px;
  font-size: 20px;
  padding: 10px;
}
.profile-cont .user-info-head .info .m-info span {
  color: #777;
}

/* stat */
.stat-cont {
  width: 100%;
  height: auto;
  padding: 0px;
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  overflow-x: auto;
  position: relative;
  /* overflow-x: scroll; */
}

.stat-cont .box {
  width: 250px;
  height: 80px;
  padding: 20px;
  background: var(--dark-m);
  border-radius: 5px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin: 10px auto;
  border-left: 3px solid var(--text-g);
}

.stat-cont .box .count {
  font-size: 30px;
}

.details-cont {
  width: 100%;
  height: auto;
  background: var(--dark-m);
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  top: 30px;
}

.details-cont li {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 10px;
}

.details-cont li .grey {
  color: #777;
}
.details-cont .edit-btn {
  padding: 10px 12px;
  background: var(--dark);
  border-radius: 5px;
  color: #ccc;
  border: none;
  outline: none;
  position: absolute;
  top: 10px;
  right: 10px;
  font-family: Poppins;
  cursor: pointer;
  transition: 0.2s ease;
  transform: scale(0.95);
}

.details-cont .edit-btn:hover {
  transition: 0.2s ease;
  transform: scale(1);
}
.details-cont .edit-btn:focus {
  border: 2px solid var(--text-g);
}

.space {
  width: 100%;
  height: 120px;
}

.trips-cont {
  width: 100%;
  height: auto;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  background: blue;
  margin-bottom: 50px;
}

.trips-cont .trips {
  width: 200px;
  height: 220px;
  background: var(--dark-m);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin-bottom: 50px;
  margin-right: 20px;
}

.trips-cont .trips img {
  width: 100%;
}
.trips-cont .trips .trip-info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 10px;
}

.trips-cont .trips .trip-info .location {
  font-size: 14px;
}
.trips-cont .trips .trip-info .time {
  color: #777;
  font-size: 13px;
}

@media (max-width: 768px) {
  .profile-cont {
    width: 95%;
    padding: 10px;
    margin: 0px auto;
  }
  .stat-cont {
    width: 100%;
    padding: 0px;
    justify-content: space-between;
    /* height: 400px; */
  }
  .details-cont {
    width: 100%;
  }
}
/* 
@media(max-width:900px){
  .profile-cont{
    width: 100vmin;
    padding: 20px;
    background: blue;
  }
  .profile-cont .head{
    width: 100%;
  }
  .stat-cont{
    width: 100%;
    justify-content: space-around;
  }
  .details-cont{
    width:100%;
  }
} */

/* request modal */

.request-modal {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
}
