@import url("../../App.css");

.ride-cont {
  width: 50%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0px auto;
  font-family: Poppins;
}

.ride-cont .form {
  width: 350px;
  height: auto;
  padding: 20px;
  background: var(--dark-m);
}

.ride-cont .head {
  width: 100%;
  position: relative;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.ride-cont .head .icon {
  width: 30px;
  padding: 5px;
  color: #777;
  background: var(--dark-m);
  border-radius: 5px;
  position: absolute;
  left: 0px;
  top: 0px;
  transform: scale(0.85);
  transition: 0.2s ease;
}

.ride-cont .box {
  width: 100%;
  height: 60px;
  background: var(--dark);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 2px solid var(--text-g);
  margin-top: 20px;
}

.ride-cont .box .icon {
  width: 20px;
  padding: 10px;
}

.ride-cont .box .icon.check {
  color: var(--text-g);
}
.ride-cont .box .icon.location {
  color: red;
}

.ride-cont .box .inp {
  width: 100%;
  padding: 10px;
  background: var(--dark);
  border: none;
  outline: none;
  color: #ccc;
  font-family: Poppins;
}

.ride-cont .form .btn {
  width: 100%;
  padding: 15px 12px;
  background: var(--text-g);
  color: var(--dark);
  font-size: 20px;
  font-weight: 600 !important;
  border: none;
  outline: none;
  border-radius: 5px;
  transition: 0.2s ease;
  cursor: pointer;
  font-family: Poppins;
}
.ride-cont .form .btn:hover {
  transition: 0.2s ease;
  transform: scale(0.95);
}

.sugest-cont {
  width: 350px;
  height: auto;
  max-height: 150px;
  background: var(--dark);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  top: 10px;
  border-radius: 5px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.sugest-cont.hide {
  height: 0px;
}
.sugest-cont.show {
  height: auto;
}

.sugest-cont li {
  padding: 10px;
  width: 100%;
  font-family: Poppins;
  cursor: pointer;
}

.sugest-cont li:hover {
  background: #000;
}

/* finding driver */

.finding-driver {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background: rgba(0, 0, 0, 0.7); */
}

.finding-driver .img-cont {
  width: 200px;
  background: rgba(255, 0, 0, 0.5);
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 50%;
  animation: grow 1s linear infinite;
  transform: scale(0.75);
  transition: 0.2s ease;
}

.finding-driver img {
  width: 100%;
}

.finding-driver .icon {
  width: 30px;
  padding: 5px;
  border-radius: 50%;
  color: red;
  background: rgba(255, 0, 0, 0.5);
  position: absolute;
  bottom: 10px;
  transform: scale(0.75);
  transition: 0.2s ease;
  cursor: pointer;
}

.finding-driver .icon:hover {
  transform: scale(0.85);
  transition: 0.2s ease;
}

@keyframes grow {
  0% {
    box-shadow: 0 0 0 0.7rem #ff010133, 0 0 0 1.5rem #ff010133,
      0 0 0 5rem #ff010133;
  }
  100% {
    box-shadow: 0 0 0 1.5rem #ff010133, 0 0 0 4rem #ff010133,
      0 0 0 8rem rgba(255, 255, 255, 0);
  }
}

.driver-modal {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
}
