.navbar-cont {
  width: 100%;
  height: auto;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-cont .right {
  position: relative;
  right: 20px;
}

.navbar-cont .right .user-img {
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
}
.navbar-cont .right .more-info {
  position: fixed;
  right: 5px;
  top: 60px;
  width: 160px;
  background: var(--dark-m);
  border-radius: 5px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  box-shadow: 0px 0px 3px var(--dark-m);
  overflow: hidden;
}

.navbar-cont .right .more-info a {
  padding: 10px;
  width: 100%;
  color: #ccc;
}
.navbar-cont .right .more-info a:hover {
  color: var(--text-w);
  background: var(--dark);
}
