:root {
  --dark: #1a1a1a;
  --dark-m: #272727;
  --text-w: #fff;
  --text-g: #4ac074;
  --tp-bg: rgba(0, 0, 0, 0.5);
}

@font-face {
  font-family: Poppins;
  src: url("./Poppins-Regular.ttf");
}

html {
  scroll-behavior: smooth;
  font-family: Poppins;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  width: 100%;
  height: 100vh;
  padding: 0px;
  position: relative;
  left: 0px;
  margin: 0px;
  background: var(--dark);
  font-family: Poppins;
  color: var(--text-w);
  overflow-y: hidden;
  overflow-x: hidden;
}
